#services {
    background: #000;

    .single-services {
        padding: 50px 25px;
        border: 1px solid #d1d1d1;
        margin-bottom: 30px;
        border-radius: 25px;
    }

    .heading h2 {
        border-left: 3px solid #222222;
        padding-left: 15px;
    }

    .desc {
        padding-left: 15px;
    }
}